// ======================================
//  Mixins
// ======================================

@mixin flex(
  $disp: flex,
  $flex-di: null,
  $flex-b: null,
  $wrap: null,
  $just: null) {
  display: $disp;
  flex-direction: $flex-di;
  flex-basis: $flex-b;
  flex-wrap: $wrap;
  justify-content: $just;
}

@mixin media-q($break) {

  @if $break == 'medium' {
    @media (min-width: $break-m) {
      @content;
    }
  }
  @else if $break == 'large' {
    @media (min-width: $break-l) {
      @content;
    }
  }
}
