// ======================================
//  Variables
// ======================================

// Colors
$heading-color: #696969;
$secondary-heading-color: #303030;
$modal-b: #fbfbf0;
$white: #fff;
$success: #81C98F;
$text-color: #A9A9A9;
$text-color-modal: #8c8484;
$card-frame-color: #D3D3D3;
$user-input-color: #b2b2b2;
$border-color: #bec1c3;
$button-color: #573C2D;

// layout
$max-width: 1280px;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$default-font-size: 16;

// Breakpoints
$break-m: 768px;
$break-l: 1024px;
